* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #333;
    text-align: center;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 2rem;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(6, 70px);
    gap: 10px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: darkblue;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.celda {
    width: 70px;
    height: 70px;
    background-color: #bdc3c7;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s ease;
}

.celda:hover {
    transform: scale(1.1);
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #2980b9;
}

#mensaje {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal-content input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.modal-content button {
    margin-top: 10px;
}
